h1, h2, h3, h4, h5, h6{
  font-family: 'Indie Flower', cursive;
}

.site {
  min-height: 100vh;
  margin-bottom: -140px;
}

footer, .minSite {
  height: 140px;
}

.imgFooter {
  height: 75px;
}

.imgFooterYoutube {
  height: 30px;
}

@media only screen and (max-width:720px){
  .site {
    min-height: 100vh;
    margin-bottom: -90px;
  }
  
  footer, .minSite {
    height: 90px;
  }

  .imgFooter {
    height: 40px;
  }
  
  .imgFooterYoutube {
    height: 25px;
  }
}